
$marketing-font-path:"/src/fonts/";
$width-lg: 1170px;
@import "~@primer/css/core/index";
@import "~@primer/css/box/index";
@import "~@primer/css/utilities/box-shadow";

@import './helper';
@import './grid';
@mixin hst_container{
  width:1170px;
}


body{
  background-color: #f7fafd;

  .blocked{
    overflow: hidden;
  }
  &:before{
    z-index: -1;
    content: "";
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(/images/busx.jpg);
    background-size: contain;
    filter: blur(2px);
    background-color: inherit;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: right bottom;
  }
}

.appWrapper{
  position:relative;
  height:100vh;
  background-color:white;
  @include breakpoint(md){

    padding: 0;
    height:100vh;
    @include hst_container;
    margin:0 0 0 $spacer-5;
    box-shadow:0 0 16px rgba(0,0,0,.5);
    main{
      margin-top:16px;
    }
  }

  header{
    @include breakpoint(md){
      padding: 0;
      flex-direction: column;
    }
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding:0;
    width:100%;
    margin: 0 auto;
    .intro{
      h1{
        @include h1-responsive;
        margin-top:$spacer-3;
      }
      @include breakpoint(md){
        position:relative;
        background-color:transparent;
        background-size: auto 367px;
        background-position: 20px -113px;
         background-repeat:repeat-x;
        background-image:url("/images/busx.jpg");
        z-index:2;
        &:before{
          content:'';
          width:100%;
          height:100%;
          position:absolute;
          left:0;
          top:0;
          background:linear-gradient(180deg,transparent 250px,#e5e9d0 250px,#fff 100%);
          z-index:-1;
        }
      }
     //
      width:100%;
      height:388px;
      padding:0 $spacer-3;

    }

  }


}

@include breakpoint(md){
  .page {
    &:before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: rgba(27, 31, 35, 0.5);
      display: block;
      cursor: default;
      content: " ";
    }
    .page__content{
      width:50vw;
      min-width:800px;
      max-width:1000px;
      .Box{
        min-height:500px;
      }
    }

  }
}

  .page {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    .page__content{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .Box{
        width:100%;
        height:100vh;
        border-radius:0;
        border:none;
      }
    }
  }
