@import "~@primer/css/support/index";


@include breakpoint(md) {

    body .grid{
        &.full{
            grid-template-areas:
        "heading"
        "content";
            grid-template-columns: 1fr ;
        }
        grid-template-columns: minmax(0px, 1170px) 390px;
        grid-template-areas:
        "heading heading"
        "content table-of-contents";
        column-gap: 40px;
        .griditem{
            &.right{
                max-height: calc((100vh - 66px) - 24px);
                position: sticky;
                display:block;
                top: 90px;
                grid-area: table-of-contents / table-of-contents / table-of-contents / table-of-contents;
                overflow: auto;
            }
        }

    }
}
.grid{
    display:grid;
    grid-template-columns:100%;
    grid-template-areas: "heading" "content";
    row-gap:16px;
    padding:16px;
    align-items: start;
    align-self: start;
    .griditem{
        &.top{
            grid-area: heading / heading / heading / heading;
        }
        &.left{
            grid-area: content / content / content / content;
        }
        &.right{
            display:none;
        }
    }
}
